<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello!</h1>
        <p class="lead">This is the home page of our web application. Anyone can access it, even if they have not signed in.</p>
        <hr class="my-4">
        <p>It's only for testing of declared Developing skills in CV :)</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://github.com/GevorgBagratunyan/springbootschoolwebapp" role="button">Open source code on GitHub</a>
        </p>
    </div>
</div>
</body>
</html>